* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Lato", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "PT Sans", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Work Sans", sans-serif;
  height: 10000px;
  
}
:root {
  --main-color: #83b735;
  --sec-color: #f3f2f0;
}
.container {
  max-width: 1222px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

ul li {
  list-style: none;
}

.special-header {
  width: 500px;
  margin: auto;
  text-align: center;
}

.special-header .sub-title {
  font-size: 16px;
  font-weight: normal;
  color: #757575;
  margin: 10px 0;
}

.special-header .title {
  font-size: 24px;
  color: #242424;
}

.special-header .desc {
  color: #757575;
  margin: 10px 0 30px;
}

/* header section  */

.top-header {
  background-color: var(--main-color);
  color: #fff;
  font-size: 12px;
}
.top-header .container {
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.top-header-left {
  display: flex;
  height: 100%;
}
.top-header-left li:last-child {
  font-weight: 600;
}

.top-header-left li {
  border-left: 1px solid #ebebeb73;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  padding: 0 10px;
}

.top-header-left > li > i {
  font-size: 9px;
  margin-left: 5px;
  color: #ececec;
}

.top-header-right {
  display: flex;
  height: 100%;
}

.top-header-right li {
  display: flex;
  align-items: center;
  border-right: 1px solid #ebebeb73;
  padding: 0 10px;
  text-transform: uppercase;
}

.top-header-right .icons i {
  margin: 0 7px;
  font-size: 14px;
}
.top-header-right .icons i:hover {
  color: #ccc;
}

.top-header-right li a {
  display: block;
  text-decoration: none;
  color: #fff;
}

/* middle header  */

.middle-header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
}

.middle-header .logo img {
  max-width: 250px;
}

.middle-header .search {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: flex-start;
  border: 1px solid #eee;
  height: 40px;
  min-width: 400px;
  margin: 0 30px;
}

.middle-header .search input {
  flex-basis: 350px;
  height: 100%;
  padding-left: 10px;
  border: 0;
  outline: 0;
  border-right: 1px solid #ccc;
  font-size: 14px;
}

.middle-header .search .categories {
  max-width: 180px;
  padding: 10px 15px;
  font-size: 14px;
  flex-shrink: 0;
}

.middle-header .search .search-icon {
  flex-basis: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 1px solid #ccc;
  height: 100%;
}
.category-drop-down {
  display: none;
}

.middle-header .info {
  display: flex;
}

.middle-header .info .login-register {
  margin: 0 20px;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 500;
}

.middle-header .info .icons ul {
  display: flex;
}

.middle-header .info .icons ul li {
  margin: 0 10px;
  position: relative;
}

.middle-header .info .icons ul li:nth-child(2)::after,
.middle-header .info .icons ul li:nth-child(3)::after {
  content: "0";
  position: absolute;
  top: -7px;
  right: -7px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: var(--main-color);
  font-size: 10px;
  color: #fff;
  text-align: center;
  line-height: 15px;
}

/* bottom header  */
.bottom-header {
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
}

.bottom-header .container {
  display: flex;
  align-items: center;
  height: 60px;
  font-size: 14px;
  font-weight: 500;
}

.bottom-header .left {
  min-width: 273px;
  background-color: var(--main-color);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: #fff;
  position: relative;
}

.bottom-header .left .bars {
  margin: 0 10px 0 15px;
}

.bottom-header .left .angle {
  margin-left: auto;
  margin-right: 10px;
}

.bottom-header .left .categories-dropdown {
  position: absolute;
  z-index: 99;
  top: 100%;
  background-color: #fff;
  color: #000;
  width: 273px;
  left: 0;
  border-right: 1px solid #eeecec;
  border-left: 1px solid #eeecec;
}

.bottom-header .left .categories-dropdown li {
  height: calc(501px / 11);
  display: flex;
  align-items: center;
  border-bottom: 1px solid #eeecec;
  cursor: pointer;
}

.bottom-header .left .categories-dropdown li:hover {
  background-color: #f7f7f7;
}

.bottom-header .left .categories-dropdown li img {
  width: 18px;
  height: 18px;
  margin: 0 8px 0 20px;
}

.bottom-header .nav {
  display: flex;
  flex: 1;
}

.bottom-header .nav li a {
  text-decoration: none;
  height: 60px;
  display: block;
  display: flex;
  align-items: center;
  padding: 0 15px;
  color: #000;
  text-transform: uppercase;
}
.bottom-header .nav li:first-child a {
  color: var(--main-color);
}

.bottom-header .right a {
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
}

.bottom-header .right .offer {
  padding-right: 10px;
  border-right: 1px solid #eee;
  color: var(--main-color);
}

.bottom-header .right .theme {
  padding-left: 10px;
}

/* main section  */
main {
  background-color: #f6f6f6;
  height: 500px;
  position: relative;
  overflow: hidden;
}

main .text {
  position: absolute;
  left: 35%;
  width: 300px;
  top: 20%;
}

.main-text-title {
  font-size: 55px;
  color: #303030;
}

.main-text-color {
  margin: 10px 0;
  display: flex;
}
.main-text-color .text-color {
  display: flex;
  align-items: center;
}

.main-text-color ul li {
  width: 30px;
  height: 30px;
  background-color: #000;
  display: inline-block;
  margin-left: 10px;
  border-radius: 50%;
  border-top-right-radius: 0;
}

.main-text-color ul li:nth-child(1) {
  background: #2f9393;
}

.main-text-color ul li:nth-child(2) {
  background: #cd4441;
}

.main-text-color ul li:nth-child(3) {
  background: #eca141;
}

.main-text-desc {
  margin-bottom: 20px;
  color: #5e5e5e;
}

.main-text-price {
  font-size: 35px;
  color: var(--main-color);
}

main .image {
  width: 444px;
  height: 500px;
  background-image: url(../images/home.jpg);
  background-position: center;
  background-size: cover;
  position: absolute;
  left: 60%;
  animation-name: main-image;
  animation-direction: alternate;
  animation-timing-function: linear;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes main-image {
  0% {
    top: 0;
  }
  100% {
    top: 30px;
  }
}

/* feature section  */
.feature {
  padding: 80px 0;
}

.feature .container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 280px 280px;
  gap: 20px;
}

.feature .container img {
  width: 100%;
  height: 100%;
  transition: 0.7s;
}

.feature .container .furniture {
  grid-row: 1/3;
  grid-column: 1/3;
}

.feature .container .box {
  position: relative;
  overflow: hidden;
}

.feature .container .box:hover img {
  transform: scale(1.1);
}

.feature .container .info {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: #333333;
}

.feature .container .info .title {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 500;
  transform: translateY(30px);
  transition: 0.4s;
  margin-bottom: 5px;
}

.feature .container .info .desc {
  transform: translateY(40px);
  transition: 0.5s;
}

.feature .container .box:hover .desc,
.feature .container .box:hover .title {
  transform: translateY(0);
}

/* products section  */

.products .products-title {
  display: flex;
  margin: auto;
  justify-content: space-between;
  width: 267px;
  text-transform: uppercase;
  font-weight: 600;
}

.products .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));

  /* gap:30px 20px; */
}
.products .item {
  height: 430px;
  position: relative;
}

.products .card {
  padding: 20px;
  position: absolute;
  background-color: #fff;
}

.products .card img {
  width: 100%;
}

.products .card .image {
  position: relative;
  overflow: hidden;
}
.products .card .hidden-item {
  background-color: #fff;
  height: 50px;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 5;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
  transform: translateY(102%) translateZ(0);
  transition: transform 0.3s ease;
}

.products .card .hidden-item img {
  width: 25px;
  height: 25px;
}

.products .card .hidden-item i {
  margin-right: 20px;
  line-height: 50px;
}

.products .card .hidden-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
}

.products .card:hover .hidden-image {
  visibility: visible;
  opacity: 1;
}

.products .card .info {
  text-align: center;
}
.products .card .sub-info {
  top: 100%;
  z-index: 99;
  display: none;
}
.products .card .sub-info > p {
  margin: 10px 0;
  width: 100%;
  text-align: center;
  color: #636363;
  font-size: 14px;
  line-height: 1.5;
  font-family: sans-serif;
}

.products .card .sub-info .details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.products .card .sub-info .details .add-option {
  background-color: var(--main-color);
  width: 130px;
  height: 40px;
  position: relative;
  overflow: hidden;
}

.products .card .sub-info .details .add-option a {
  text-decoration: none;
  color: #fff;
  position: absolute;
  transition: 0.2s;
  top: 10px;
  left: 10px;
}

.products .card .sub-info .details .add-option img {
  width: 20px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -20px;
  transition: 0.2s;
}

.products .card .sub-info .details .add-option:hover a {
  top: -30px;
}

.products .card .sub-info .details .add-option:hover img {
  bottom: 10px;
}
.products .card .sub-info .details i:last-child {
  margin-right: 10px;
}

.products .card .info .info-title {
  margin: 10px 0;
  font-weight: normal;
  color: #242424;
  font-family: sans-serif;
  font-size: 17px;
}

.products .card .info .info-desc {
  margin-bottom: 10px;
  text-transform: capitalize;
  color: #858282;
  font-size: 15px;
}

.products .card .info .info-price {
  font-weight: 500;
  color: var(--main-color);
  font-size: 15px;
}
.products .card:hover {
  box-shadow: 0 0 1px 2px #eeeded;
  z-index: 10;
}
.products .card:hover .sub-info {
  display: block;
}

.products .card:hover .hidden-item {
  transform: none;
}

/* brands section  */

.brands .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}
.brands .container .image {
  position: relative;
}
.brands .container .image > img {
  width: 100%;
  border-radius: 10px;
}

.brands .container .image .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 99%;
  border-radius: 10px;
  transition: 0.5s;
}

.brands .container .image .overlay img {
  width: 70px;
  position: absolute;
  top: 20px;
  left: 20px;
}

.brands .container .image .overlay:hover {
  box-shadow: 0px 0px 10px 4px #00000082;
}

.brands .container .image .overlay .info {
  position: absolute;
  top: 30px;
  left: 100px;
  color: #fff;
}
.brands .container .image .overlay .info h3 {
  font-size: 22px;
  font-weight: 600;
}
.brands .container .image .overlay .info p {
  margin-top: 10px;
}

/* collection section  */
.collections{
  background-color: var(--sec-color);
}
.collections-items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-template-rows: repeat(8, 80px);
  gap: 20px;
  margin: 0 20px;
}
.collections .item {
  position: relative;
}
.collections .item img {
  width: 100%;
  height: 100%;
}

.collections .item1 {
  grid-row: 1/5;
  grid-column: 1/2;
}

.collections .item2 {
  grid-row: 5/-1;
  grid-column: 1/2;
}
.collections .item3 {
  grid-row: 1/7;
  grid-column: 2/3;
}
.collections .item4 {
  background-color: #e1dbd4;
  grid-column: 2/3;
  grid-row: 7/-1;
  padding: 30px;
}
.collections .item7 h2,
.collections .item4 h2 {
  font-size: 35px;
  font-weight: 400;
  margin-bottom: 15px;
  color: #1b1b1b;
}
.collections .item7 p,
.collections .item4 p {
  line-height: 1.5;
  color: #444343;
  font-size: 15px;
}
.collections .item5 {
  grid-row: 1/5;
  grid-column: 3/4;
  overflow: hidden;
}

.collections .item5 .video-item {
  width: 100%;
  height: 100%;
  transform: scaleX(1.2);
}

.collections .item6 {
  grid-column: 3/4;
  grid-row: 5/-1;
}
.collections .item7 {
  grid-column: 4/5;
  grid-row: 1/3;
  background-color: #cad3d2;
  padding: 30px;
}
.collections .item8 {
  grid-column: 4/5;
  grid-row: 3/-1;
}

.collections .item9 {
  grid-column: 5/6;
  grid-row: 1/5;
}

.collections .item10 {
  grid-column: 5/6;
  grid-row: 5/-1;
}

.collection-hotspot {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #0000002a;
}

.collection-hotspot .hotspot {
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #fff;
}

.collection-hotspot .hotspot::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 25px;
  height: 25px;
  background-color: #ffffff71;
  border-radius: 50%;
}

.item1 .collection-hotspot .hotspot1 {
  left: 222px;
  top: 125px;
}

.item1 .collection-hotspot .hotspot2 {
  left: 22%;
  top: 77%;
}

.item1 .collection-hotspot .hotspot3 {
  left: 84%;
  top: 92%;
}

.item2 .collection-hotspot .hotspot1 {
  left: 96px;
  top: 228px;
}

.item2 .collection-hotspot .hotspot2 {
  left: 70%;
  top: 74%;
}

.item2 .collection-hotspot .hotspot3 {
  left: 50%;
  top: 86%;
}

.item3 .collection-hotspot .hotspot1 {
  left: 81%;
  top: 45%;
}

.item3 .collection-hotspot .hotspot2 {
  left: 31%;
  top: 61%;
}

.item3 .collection-hotspot .hotspot3 {
  left: 66%;
  top: 68%;
}

.item5 .collection-hotspot .hotspot1 {
  left: 222px;
  top: 125px;
}

.item5 .collection-hotspot .hotspot2 {
  left: 22%;
  top: 77%;
}

.item5 .collection-hotspot .hotspot3 {
  left: 84%;
  top: 92%;
}

.item6 .collection-hotspot .hotspot1 {
  left: 25%;
  top: 20%;
}

.item6 .collection-hotspot .hotspot2 {
  left: 22%;
  top: 77%;
}

.item6 .collection-hotspot .hotspot3 {
  left: 68%;
  top: 56%;
}

.item8 .collection-hotspot .hotspot1 {
  left: 222px;
  top: 155px;
}

.item8 .collection-hotspot .hotspot2 {
  left: 46%;
  top: 77%;
}

.item8 .collection-hotspot .hotspot3 {
  left: 84%;
  top: 80%;
}
.item9 .collection-hotspot .hotspot1 {
  left: 282px;
  top: 125px;
}

.item9 .collection-hotspot .hotspot2 {
  left: 27%;
  top: 70%;
}

.item9 .collection-hotspot .hotspot3 {
  left: 72%;
  top: 76%;
}
.item10 .collection-hotspot .hotspot1 {
  left: 272px;
  top: 195px;
}

.item10 .collection-hotspot .hotspot2 {
  left: 35%;
  top: 65%;
}

.item10 .collection-hotspot .hotspot3 {
  left: 74%;
  top: 82%;
}

.innerhotspot {
  animation-name: hotspot-animation;
  animation-duration: 1.5s;
  background-color: #ffffff7c;
  animation-iteration-count: infinite;
  height: 10px;
  width: 10px;
  transform: scale(1, 1);
  border-radius: 50%;
}
@keyframes hotspot-animation {
  0% {
    transform: scale(1, 1);
  }

  50% {
    transform: scale(4, 4);
  }

  100% {
    opacity: 0;
  }
}

.collection-hotspot .hotspot .content {
  position: absolute;
  left: 18px;
  top: -77px;
  background-color: #fff;
  z-index: 6;
  width: 235px;
  border-radius: 10px;
  text-align: center;
  display: none;
}

.collection-hotspot .hotspot .content img {
  border-radius: 10px;
  width: 191px;
}

.hotspot-title {
  margin: 10px 0;
  text-transform: capitalize;
  font-size: 20px;
  font-weight: 600;
}
.hotspot-price {
  color: var(--main-color);
  font-weight: 700;
  font-size: 16px;
}
.hotspot-desc {
  line-height: 1.5;
  margin: 10px 0;
  color: #545454;
  padding:10px;
}

.collection-hotspot .hotspot .content a {
  text-decoration: none;
  font-size: 14px;
  display: block;
  height: 40px;
  width: 100px;
  margin: 10px auto;
  background: var(--main-color);
  color: #fff;
  line-height: 40px;
  border-radius: 20px;
}

.collection-hotspot .hotspot:hover .content {
  display: block;
}

/* week collections section  */
.week-collections{
  background-color: var(--sec-color);
}
.week-collections .container {
  padding: 100px 0;
  display: flex;
}

.week-collections .container .image img {
  border-radius: 10px;
}

.week-collections .container .image {
  position: relative;
}

.week-collections .image .hotspot1 {
  top: 42%;
  left: 31%;
}

.week-collections .image .hotspot2 {
  top: 67%;
  left: 20%;
}

.week-collections .image .hotspot3 {
  top: 77%;
  left: 60%;
}

.week-collections .special-header {
  text-align: left;
  margin-right: auto;
  width: 100%;
}

.week-collections .special-header .title {
  font-size: 30px;
}

.week-collections .container .card-items {
  display: flex;
  gap: 20px;
  margin-right: 20px;
}

.week-collections .card {
  width: 300px;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.week-collections .card-info {
  transform: translateY(60px);
  transition: 0.5s;
}

.week-collections .card:hover .card-info {
  transform: translateY(0);
}
.week-collections .card .card-info-title {
  font-size: 15px;
  text-transform: capitalize;
}

.week-collections .card .card-info-desc {
  color: #3f3f3f;
  margin: 10px 0;
}

.week-collections .card .card-info-price {
  color: var(--main-color);
  font-size: 18px;
}

.week-collections .card-info-hidden {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.week-collections .card-info-hidden a {
  display: block;
  text-decoration: none;
  width: 180px;
  height: 40px;
  background-color: var(--main-color);
  color: #fff;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: bold;
}

.week-collections .card-items .card > img {
  width: 100%;
  border-radius: 10px;
}

.card-info-hidden img {
  margin: 0 20px;
}
.card-info-hidden img {
  width: 20px;
  height: 20px;
}

.week-collections .card > i {
  position: absolute;
  right: 20px;
  top: 30px;
  color: #444343;
}
